# Mac / OS X
.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset / large files
dataset/
data/

# VS Code
.vscode/

# Other temp files
*.log