# Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# macOS files
.DS_Store

# IDE/editor settings
.vscode/
.idea/

# Uploaded files during runtime
flask/static/user_uploaded/

# Large media files
*.mp4
*.avi
*.mov
*.mkv

# Dataset and large archives
*.zip
*.tar
*.gz
*.csv
*.jpg
*.jpeg
*.png

# Jupyter Notebook checkpoints
.ipynb_checkpoints/